body {
    width: 100%;
    font-family: 'Overpass', sans-serif;

}

.header{
    background-image: url("../images/backgrounds/h_img.jpg");
    color: white;
    height: 80vh;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 230px 30px 30px;
    opacity: 0.9;
}

h1 {
    font-size: 40px;
    margin-top: 35px;
    line-height: 45pt;
}
.amazing {
    font-size: 10px;
}

.mouse {
    margin-top: 195px;
}

.about {
    text-align: center;
    margin-top: 20px;
    line-height: 25pt;
    font-size: 15px;
}

.services {
    background-image: url("../images/backgrounds/s_image.jpg");   
}

.servicetext {
    text-align: center;
    margin-top: 20px;
    line-height: 25pt;
    font-size: 10px;
    color: white;
    padding: 50px;

}

.whatwedo{
    align-items: center;
    text-align: center;
}

.card-deck {
    display: flex;
}

.card {
  width: 33.3%;
  margin: 20px;
  align-content: center;
  font-size: 20px;
  padding: 5px;
  border: none;
}

.portfolio {
    align-items: center;
    text-align: center;
}

.contact {
    text-align: center;
    background-image: url("../images/backgrounds/c_image.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    text-align: center;
    opacity: 0.9;
    height: 60vh;
    color: white;
    padding-top: 2em;
}


.contact form {
    text-align: center;
    margin: auto;
    width: 60%;
  }
  
  .contact input {
    background: transparent;
    color: #fff;
  }
  
  .contact input::placeholder {
    color: #fff;
  }
  
  .contact textarea {
    background: transparent;
  }
  
  
  .contact textarea::placeholder {
    background: transparent;
    color: #fff;
  }
  
  .contact .row {
    margin-top: 1.5em;
  }
